<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>

    <!--<add name="GEDConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=Administration_ANCFCC;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />-->
    <add name="GEDConnectionString" connectionString="Data Source=192.168.4.4;Initial Catalog=Administration_ANCFCC;User ID=sa;Password=ANCFCC@2016" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>